{%- liquid
  if show_label == null
    assign show_label = false
  endif
  if size == null
    assign size = 'm-svg-icon'
  endif
-%}
<div class="social-media-links{% if centermd %} md:m:justify-center {% endif %} {{ extra_classes }}">
  {% if settings.social_pinterest_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_pinterest_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_pinterest_label | default: 'Pinterest' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path fill="currentColor" d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z"></path>
      </svg>
      {% if settings.social_pinterest_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_pinterest_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_facebook_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_facebook_label | default: 'Facebook' }}"
    >
      <svg width="434" height="434" viewBox="0 0 434 434" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M431.247 215.158C433.608 334.381 330.785 430.4 219.041 431.561C102.777 432.764 3.98089 334.586 2.03993 218.54C0.0777731 101.313 100.702 2.14378 214.196 2.04712C333.8 1.9525 429.828 95.1058 431.237 215.148L431.247 215.158Z" fill="#FED41E"/>
<path d="M229.182 292.114C229.182 311.264 229.012 330.404 229.292 349.544C229.372 354.634 227.842 356.154 222.812 356.024C209.982 355.704 197.122 355.614 184.302 356.054C178.632 356.244 177.732 354.084 177.752 349.074C177.932 311.234 177.752 273.394 177.962 235.554C177.992 230.094 176.702 228.014 170.912 228.274C160.792 228.724 150.642 228.254 140.512 228.474C136.482 228.564 134.932 227.374 135.002 223.144C135.222 210.084 135.222 197.014 135.002 183.954C134.932 179.864 136.602 179.094 140.192 179.154C151.002 179.334 161.822 179.034 172.622 179.304C176.812 179.414 177.882 178.074 177.962 173.954C178.272 157.994 176.392 141.954 179.302 126.094C184.422 98.2138 204.812 80.0938 233.072 77.4938C246.862 76.2238 260.492 77.7138 274.182 78.4938C278.202 78.7238 280.042 80.0538 279.902 84.5838C279.562 95.6138 279.552 106.664 279.902 117.684C280.062 122.704 278.032 123.694 273.582 123.564C265.712 123.344 257.802 123.374 249.942 123.794C235.802 124.554 229.602 131.084 229.352 145.114C229.182 154.574 229.512 164.044 229.082 173.484C228.852 178.514 230.802 179.404 235.292 179.304C247.902 179.034 260.522 179.404 273.132 179.104C277.692 178.994 278.322 180.614 277.732 184.624C275.872 197.304 274.122 210.014 272.792 222.754C272.342 227.034 271.022 228.574 266.642 228.464C256.292 228.194 245.912 228.624 235.562 228.274C230.582 228.104 228.992 229.464 229.072 234.644C229.392 253.784 229.202 272.934 229.202 292.074L229.182 292.114Z" fill="white"/>
</svg>


      {% if settings.social_facebook_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_facebook_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_instagram_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_instagram_label | default: 'Instagram' }}"
    >
      <svg width="430" height="430" viewBox="0 0 430 430" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M214.27 429.263C95.5402 431.063 0.14015 327.363 0.000150412 213.313C-0.13985 100.413 97.4701 -0.587428 215.61 0.00257209C335.31 0.602572 429.8 101.843 429.54 216.083C429.29 328.933 331.66 431.523 214.27 429.263Z" fill="#FED41E"/>
<path d="M331.783 215.339C331.783 238.089 331.873 260.839 331.763 283.589C331.623 312.719 312.623 331.619 283.403 331.659C237.903 331.729 192.403 331.719 146.903 331.659C117.603 331.619 98.143 312.319 98.063 283.039C97.933 237.539 97.933 192.039 98.063 146.539C98.143 117.489 117.903 97.9788 147.103 97.9288C192.383 97.8588 237.653 97.8588 282.933 97.9288C312.493 97.9688 331.643 116.999 331.763 146.409C331.863 169.379 331.783 192.359 331.783 215.329V215.339Z" fill="white"/>
<path d="M167.6 183.094C156.69 199.554 152.95 216.454 158.34 234.594C162.17 247.514 169.82 257.974 180.77 265.834C201.64 280.824 230.9 279.934 250.53 263.894C274.15 244.594 277.92 219.334 261.94 183.094C271.87 183.094 281.37 183.094 290.86 183.094C302.287 183.094 308.001 188.751 308.001 200.064C308.001 225.054 308.05 250.044 307.98 275.034C307.92 296.594 293.01 311.574 271.55 311.614C233.28 311.674 195 311.674 156.73 311.614C136.32 311.584 121.221 296.724 121.131 276.454C121.001 247.184 121.181 217.924 121.001 188.654C120.971 184.214 122.26 182.914 126.67 183.004C139.87 183.274 153.08 183.104 167.6 183.104V183.094Z" fill="#FED41E"/>
<path d="M214.505 120.035C233.625 120.035 252.755 119.945 271.875 120.055C295.845 120.195 311.995 139.675 308.115 163.335C307.635 166.265 306.145 166.365 304.005 166.365C286.455 166.355 268.905 166.335 251.355 166.385C248.675 166.385 246.675 164.935 244.575 163.685C224.325 151.605 204.115 151.925 183.955 163.855C181.405 165.365 178.895 166.445 175.775 166.415C159.355 166.295 142.925 166.255 126.505 166.435C122.575 166.475 121.105 165.635 121.015 161.275C120.595 139.935 128.915 126.275 145.765 121.235C149.735 120.045 153.755 120.045 157.795 120.035C176.695 120.005 195.595 120.025 214.495 120.025L214.505 120.035Z" fill="#FED41E"/>
<path d="M215.373 179.189C234.983 179.209 250.553 194.809 250.483 214.369C250.423 233.419 234.833 248.999 215.603 249.229C195.733 249.469 179.923 233.779 180.013 213.909C180.103 194.049 195.253 179.169 215.373 179.189Z" fill="#FED41E"/>
</svg>

      {% if settings.social_instagram_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_instagram_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_twitter_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_twitter_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_twitter_label | default: 'Twitter' }}"
    >
      <svg class="{{ size }}" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.0385131 0L6.1373 8.15756L0 14.79H1.38126L6.75446 8.9832L11.0959 14.79H15.7963L9.3544 6.17359L15.067 0H13.6857L8.73725 5.34795L4.739 0H0.0385131ZM2.06976 1.0178H4.22917L13.7648 13.772H11.6054L2.06976 1.0178Z" fill="currentColor"/>
      </svg>
      {% if settings.social_twitter_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_twitter_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_linkedin_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_linkedin_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_linkedin_label | default: 'Linkedin' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/>
      </svg>
      {% if settings.social_linkedin_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_linkedin_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_snapchat_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_snapchat_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_snapchat_label | default: 'Snapchat' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
        <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm169.5 338.9c-3.5 8.1-18.1 14-44.8 18.2-1.4 1.9-2.5 9.8-4.3 15.9-1.1 3.7-3.7 5.9-8.1 5.9h-.2c-6.2 0-12.8-2.9-25.8-2.9-17.6 0-23.7 4-37.4 13.7-14.5 10.3-28.4 19.1-49.2 18.2-21 1.6-38.6-11.2-48.5-18.2-13.8-9.7-19.8-13.7-37.4-13.7-12.5 0-20.4 3.1-25.8 3.1-5.4 0-7.5-3.3-8.3-6-1.8-6.1-2.9-14.1-4.3-16-13.8-2.1-44.8-7.5-45.5-21.4-.2-3.6 2.3-6.8 5.9-7.4 46.3-7.6 67.1-55.1 68-57.1 0-.1.1-.2.2-.3 2.5-5 3-9.2 1.6-12.5-3.4-7.9-17.9-10.7-24-13.2-15.8-6.2-18-13.4-17-18.3 1.6-8.5 14.4-13.8 21.9-10.3 5.9 2.8 11.2 4.2 15.7 4.2 3.3 0 5.5-.8 6.6-1.4-1.4-23.9-4.7-58 3.8-77.1C183.1 100 230.7 96 244.7 96c.6 0 6.1-.1 6.7-.1 34.7 0 68 17.8 84.3 54.3 8.5 19.1 5.2 53.1 3.8 77.1 1.1.6 2.9 1.3 5.7 1.4 4.3-.2 9.2-1.6 14.7-4.2 4-1.9 9.6-1.6 13.6 0 6.3 2.3 10.3 6.8 10.4 11.9.1 6.5-5.7 12.1-17.2 16.6-1.4.6-3.1 1.1-4.9 1.7-6.5 2.1-16.4 5.2-19 11.5-1.4 3.3-.8 7.5 1.6 12.5.1.1.1.2.2.3.9 2 21.7 49.5 68 57.1 4 1 7.1 5.5 4.9 10.8z"/>
      </svg>
      {% if settings.social_snapchat_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_snapchat_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_tumblr_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_tumblr_label | default: 'Tumblr' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path fill="currentColor" d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1.8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5.9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"/>
      </svg>
      {% if settings.social_tumblr_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_tumblr_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_youtube_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_youtube_label | default: 'Youtube' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
      </svg>
      {% if settings.social_youtube_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_youtube_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_vimeo_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_vimeo_label | default: 'Vimeo' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M447.8 153.6c-2 43.6-32.4 103.3-91.4 179.1-60.9 79.2-112.4 118.8-154.6 118.8-26.1 0-48.2-24.1-66.3-72.3C100.3 250 85.3 174.3 56.2 174.3c-3.4 0-15.1 7.1-35.2 21.1L0 168.2c51.6-45.3 100.9-95.7 131.8-98.5 34.9-3.4 56.3 20.5 64.4 71.5 28.7 181.5 41.4 208.9 93.6 126.7 18.7-29.6 28.8-52.1 30.2-67.6 4.8-45.9-35.8-42.8-63.3-31 22-72.1 64.1-107.1 126.2-105.1 45.8 1.2 67.5 31.1 64.9 89.4z"/>
      </svg>
      {% if settings.social_vimeo_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_vimeo_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_tiktok_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_tiktok_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_tiktok_label | default: 'Tiktok' }}"
    >
      <svg width="430" height="430" viewBox="0 0 430 430" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M214.792 429.21C96.692 431.01 0.501965 329.27 0.00196512 213.91C-0.508035 98.62 98.3219 -0.019997 213.332 3.04083e-06C332.392 0.010003 428.042 94.68 429.352 214.21C430.632 331.01 330.562 430.89 214.792 429.21Z" fill="#FED41E"/>
<path d="M206.847 224.02C200.377 221.8 194.247 218.79 187.787 217.65C161.147 212.94 137.127 231.54 134.147 258.64C131.327 284.25 151.267 307.31 177.667 308.96C203.737 310.59 226.147 289.6 226.197 263.09C226.317 200.6 226.237 138.11 226.247 75.62C226.247 73.82 226.247 72.02 226.247 70H276.277C276.277 73.97 276.277 77.86 276.277 81.75C276.277 93.84 281.357 100.13 293.377 102C299.837 103 306.427 103.11 313.277 103.65C313.347 104.85 313.477 106.13 313.477 107.41C313.487 121.38 313.377 135.36 313.567 149.33C313.607 152.56 312.477 153.61 309.487 154.09C298.577 155.84 287.717 155.67 276.267 153.6C276.267 155.46 276.267 156.98 276.267 158.5C276.267 193.04 276.287 227.58 276.267 262.12C276.237 317.18 232.477 360.15 177.467 359.15C131.097 358.31 90.5474 322.02 84.7974 276.23C78.7274 227.92 107.857 183.12 153.547 170.43C169.897 165.89 186.297 165.65 202.827 169.38C205.827 170.05 207.167 171.06 207.117 174.53C206.887 189.95 207.017 205.38 207.007 220.8C207.007 222.07 206.887 223.33 206.847 224.03V224.02Z" fill="white"/>
</svg>

      {% if settings.social_tiktok_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_tiktok_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_discord_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_discord_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_discord_label | default: 'Discord' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M297.216 243.2c0 15.616-11.52 28.416-26.112 28.416-14.336 0-26.112-12.8-26.112-28.416s11.52-28.416 26.112-28.416c14.592 0 26.112 12.8 26.112 28.416zm-119.552-28.416c-14.592 0-26.112 12.8-26.112 28.416s11.776 28.416 26.112 28.416c14.592 0 26.112-12.8 26.112-28.416.256-15.616-11.52-28.416-26.112-28.416zM448 52.736V512c-64.494-56.994-43.868-38.128-118.784-107.776l13.568 47.36H52.48C23.552 451.584 0 428.032 0 398.848V52.736C0 23.552 23.552 0 52.48 0h343.04C424.448 0 448 23.552 448 52.736zm-72.96 242.688c0-82.432-36.864-149.248-36.864-149.248-36.864-27.648-71.936-26.88-71.936-26.88l-3.584 4.096c43.52 13.312 63.744 32.512 63.744 32.512-60.811-33.329-132.244-33.335-191.232-7.424-9.472 4.352-15.104 7.424-15.104 7.424s21.248-20.224 67.328-33.536l-2.56-3.072s-35.072-.768-71.936 26.88c0 0-36.864 66.816-36.864 149.248 0 0 21.504 37.12 78.08 38.912 0 0 9.472-11.52 17.152-21.248-32.512-9.728-44.8-30.208-44.8-30.208 3.766 2.636 9.976 6.053 10.496 6.4 43.21 24.198 104.588 32.126 159.744 8.96 8.96-3.328 18.944-8.192 29.44-15.104 0 0-12.8 20.992-46.336 30.464 7.68 9.728 16.896 20.736 16.896 20.736 56.576-1.792 78.336-38.912 78.336-38.912z"/>
      </svg>
      {% if settings.social_discord_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_discord_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_whatsapp_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_whatsapp_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_whatsapp_label | default: 'Whatsapp' }}"
    >
      <svg width="411" height="411" viewBox="0 0 411 411" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M410.253 205.85C412.853 316.04 315.193 411.17 205.053 410.99C92.693 410.81 0.62302 313.9 0.00301999 204.8C-0.61698 96.0303 94.313 -0.179748 205.383 0.000252169C317.423 0.180252 412.463 94.5303 410.253 205.84V205.85Z" fill="#FED41E"/>
<path d="M77 332.904C82.2 317.644 86.15 303.334 91.94 289.804C98.53 274.414 97.99 260.874 91.31 245.004C60.55 172.014 112.81 94.5436 180.6 79.8536C244.02 66.1136 311 102.984 329.49 169.074C348.4 236.664 303.79 309.894 234.94 323.424C206.69 328.974 179.74 325.774 153.84 313.514C149.32 311.374 145.44 310.864 140.48 312.534C119.95 319.454 99.23 325.824 77 332.904Z" fill="white"/>
<path d="M111.099 299.997C115.029 288.477 118.389 277.907 122.279 267.527C123.769 263.547 123.669 260.567 121.359 256.847C103.719 228.407 99.2794 197.917 109.159 165.897C120.479 129.187 161.859 96.2366 204.229 95.0466C257.279 93.5466 303.379 128.357 314.379 180.307C323.439 223.077 300.299 270.887 260.539 291.557C225.829 309.597 191.299 309.657 157.109 290.297C152.999 287.967 149.559 287.587 145.109 289.137C134.239 292.947 123.169 296.187 111.099 299.997Z" fill="#FED41E"/>
<path d="M250.689 252.919C236.199 250.679 220.719 245.299 207.169 235.929C184.529 220.279 167.139 200.109 159.169 173.139C156.789 165.069 158.289 156.889 161.449 149.159C164.879 140.759 171.849 137.469 180.369 137.019C184.189 136.819 187.339 138.199 189.289 142.069C192.969 149.379 196.099 156.899 199.129 164.489C201.119 169.479 198.949 173.119 196.049 176.849C189.469 185.309 189.599 185.309 195.709 194.239C204.439 207.009 215.969 216.319 229.979 222.779C234.799 225.009 238.099 224.359 241.729 220.209C254.199 205.939 249.019 206.459 267.849 214.889C270.399 216.029 272.869 217.349 275.339 218.649C284.159 223.279 285.219 226.219 281.509 235.719C277.669 245.549 265.429 252.839 250.699 252.919H250.689Z" fill="white"/>
</svg>

      {% if settings.social_whatsapp_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_whatsapp_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_spotify_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_spotify_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_spotify_label | default: 'Spotify' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
        <path fill="currentColor" d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z"/>
      </svg>
      {% if settings.social_spotify_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_spotify_label }}</span>
      {% endif %}
    </a>
  {% endif %}
  {% if settings.social_line_link != blank %}
    <a
      target="_blank"
      class="social-media-links--item"
      href="{{ settings.social_line_link }}"
      rel="noreferrer"
      aria-label="{{ settings.social_line_label | default: 'Line' }}"
    >
      <svg class="{{ size }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M272.1 204.2v71.1c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.1 0-2.1-.6-2.6-1.3l-32.6-44v42.2c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.8 0-3.2-1.4-3.2-3.2v-71.1c0-1.8 1.4-3.2 3.2-3.2H219c1 0 2.1.5 2.6 1.4l32.6 44v-42.2c0-1.8 1.4-3.2 3.2-3.2h11.4c1.8-.1 3.3 1.4 3.3 3.1zm-82-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 1.8 1.4 3.2 3.2 3.2h11.4c1.8 0 3.2-1.4 3.2-3.2v-71.1c0-1.7-1.4-3.2-3.2-3.2zm-27.5 59.6h-31.1v-56.4c0-1.8-1.4-3.2-3.2-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 .9.3 1.6.9 2.2.6.5 1.3.9 2.2.9h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.7-1.4-3.2-3.1-3.2zM332.1 201h-45.7c-1.7 0-3.2 1.4-3.2 3.2v71.1c0 1.7 1.4 3.2 3.2 3.2h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2V234c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2v-11.4c-.1-1.7-1.5-3.2-3.2-3.2zM448 113.7V399c-.1 44.8-36.8 81.1-81.7 81H81c-44.8-.1-81.1-36.9-81-81.7V113c.1-44.8 36.9-81.1 81.7-81H367c44.8.1 81.1 36.8 81 81.7zm-61.6 122.6c0-73-73.2-132.4-163.1-132.4-89.9 0-163.1 59.4-163.1 132.4 0 65.4 58 120.2 136.4 130.6 19.1 4.1 16.9 11.1 12.6 36.8-.7 4.1-3.3 16.1 14.1 8.8 17.4-7.3 93.9-55.3 128.2-94.7 23.6-26 34.9-52.3 34.9-81.5z"/>
      </svg>
      {% if settings.social_line_label != blank and show_label %}
        <span class="social-media-links--label">{{ settings.social_line_label }}</span>
      {% endif %}
    </a>
  {% endif %}
</div>
